
body{
    margin: 0px;
    background-color: rgb(135,82,201);
    background: linear-gradient(34deg ,rgb(135,82,201), orange);
}

.text_entry{
    position:relative;
    width: 800px;
    height: 100%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 44px;
    border: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    background: rgb(255, 255, 255);
    padding-bottom: 20px;;
}

.controls {
    width:95%;
    height: 30px;
    margin: 10px;
    margin-top: 20px;
}

.controls .fa-times-circle{
    color: rgb(165, 29, 29);
}
.utils{
    width: 100%;
    height: 60px;
    /* background: orange; */
}

.utils .btn{
    background: white;
    height:80%;
    width: 100px;
    float: right;
    margin:7px;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.07), 0 1px 20px 0 rgba(0, 0, 0, 0.07);
}

.utils .btn:first-child{
    margin-right: 20px;
}
textarea{
    margin-top: 50px;
    width: 96%;
    height: 700px;
    line-height: 1.2;
    font-size: 23px;
    font-family:cursive;
    border-radius:inherit;
    color: rgb(77, 77, 77);
    padding:20px;
    background:rgb(231, 231, 231);
    border: hidden;
}

.text_entry :focus{
    outline:none;
}

